body{
  background: aliceblue;
  height: 100%;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: sticky;
  height: 20vh;
  z-index: 1000;
  align-items: center;
}
img{
  height: 16vh;
  width: 13vw;
  border-radius: 50%;
}

footer{
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: sticky;
  height: 20vh;
  z-index: 1000;
}
.page{
   min-height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#grid{
  display: grid;
  grid-template-rows: repeat(7,1fr);
  grid-auto-flow: column;
  height: 57vh;
}
.square{
  border: 1px solid black;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ControlSpeed{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 20vw;
}
#AddColumn{
  display: flex;
  justify-content: space-around;
  width: 17vw;
  align-items: center;
}
.Play{
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
  background-color: #16a8f0;
  background-size: 34%;
  color: white;
  font-size: xx-large;
}
.add{
  width: 3.5vh;
  height: 2vw;
  background-color: #16a8f0;
  color: white;
}
.playColumn{
  opacity: 0.5;
}