body{
  background: linear-gradient(rgb(240,248,255),#F5F8FA 0%, #EBF4FA 80%);
  height: 100%;
  margin: 0;
}
.page{
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.loading{
  margin-top: 26vh;
  margin-left: 38vw;
  color: green;
}
.error{
  margin-top: 26vh;
  margin-left: 38vw;
  color: red;
}