.inlinemusic{
    display: flex;
  justify-content: space-around;
  background:linear-gradient(rgb(240,248,255),#F5F8FA 0%, #EBF4FA 80%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  height: 20vh;
  z-index: 1000;
  align-items: center;
  width: 100%;
}
.musicsaved{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
}
div.music{
    height: 25vh;
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3%;
    color: #007AFF;
}
.bodyMusic{
    margin-top: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}